body {
  text-align: center;
  background-color: #011f3f;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin: 5%;
  color: #fef2bf;
}

.container {
  display: block;
  width: 50%;
  margin: auto;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.restart {
  height: 30px;
  background-color: orange;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 8px;
  border: solid 3px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.hidden {
  display: none;
  visibility: hidden;
}

.instruction-btn {
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}
.instruction-btn:hover {
  color: darkgray;
}

.instruction-text {
  line-height: 1.5;
  font-size: 1.2rem;
  color: white;
  display: inline-block;
  text-align: left;
  position: relative;
  left: 2%;
}
footer {
  color: white;
  margin-top: 400px;
}
